*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #001e4d;
}
.app {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    margin:100px auto;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 2px solid #001e4d;
    padding-bottom: 20px;
}
.quiz {
    padding: 20px 0px;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600; 
    margin-bottom: 10px;   
}
.btn{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
    outline: none;
}
.btn:hover{
    background-color: #222;
    color: #fff;
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next_button{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background-color: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}